<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="meanTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>deposit</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <!-- style.css -->
    <link rel="stylesheet" href="../static/style/style.css">

    <!-- SPELLS -->
	<script src="https://cdn.bootcss.com/angular.js/1.5.0-rc.2/angular.min.js"></script><!-- load angular -->
	<script src="https://cdn.bootcss.com/angular.js/1.5.0-rc.2/angular-cookies.min.js"></script>

    <script src="../js/controllers/main.js"></script> <!-- load up our controller -->
    <script src="../js/services/todos.js"></script> <!-- load our todo service -->
    <script src="../js/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController" ng-init="check_login_status()">
<div class="container">
    <div class="topBg"></div>
    <div class="myHr"></div>
    <div class="div_wel">
        <!-- 未完成 可以在这里用{{}}弄一个hello username -->
        hello {{username}}
    </div>
    <div class="myHr"></div>
    <div class="bisnsBg">
        <div class="menuContent">
            <div class="group">
                <div>
                    <a href="deposit.html" class="itemA itemA_hover">
                        <span class="itemA">存款</span>
                    </a>
                </div>
                <div class="itemDiv_r"></div>
            </div>
            <div class="group">
                <div>
                    <a href="withdrawals.html"  class="itemA itemA_hover">
                        <span class="itemA">取款</span>
                    </a>
                </div>
                <div class="itemDiv_r"></div>
            </div>
            <div class="group">
                <div>
                    <a href="transfer.html"  class="itemA itemA_hover">
                        <span class="itemA">转账</span>
                    </a>
                </div>
                <div class="itemDiv_r"></div>
            </div>
        </div>
        <div class="bisnsContent">
            <div class="text-center displayText">用户余额：{{balance}}</div>
            <br/>
            <br/>
            <br/>
            <br/>
            <!-- 对接 ng-model 按需填写 -->
            <input type="text" class="form-control input-lg text-center input" placeholder="存款金额" ng-model="formData.deposit_amount" id="deposit_amount">
            <br/>
            <br/>
            <!-- 对接 ng-click 按需填写 -->
            <button type="submit" class="button" ng-click="deposit()">确认</button>
        </div>
    </div>
</div>
</body>
</html>
