<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="meanTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>transfer</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
    <!-- style.css -->
    <link rel="stylesheet" href="style.css">

    <!-- SPELLS -->
    <script src="//cdn.bootcss.com/angular.js/1.2.16/angular.min.js"></script><!-- load angular -->

    <script src="../js/controllers/main.js"></script> <!-- load up our controller -->
    <script src="../js/services/todos.js"></script> <!-- load our todo service -->
    <script src="../js/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
<div class="container">
    <div class="topBg"></div>
    <div class="myHr"></div>
    <div class="div_wel">
        <!-- 未完成 可以在这里用{{}}弄一个hello username -->
        hello {{username}}
    </div>
    <div class="myHr"></div>
    <div class="bisnsBg">
        <div class="menuContent">
            <div class="group">
                <div class="itemDiv" data-id="a">
                    <a href="deposit.html">
                        <span class="itemA">存款</span>
                    </a>
                </div>
                <div class="itemDiv_r"></div>
            </div>
            <div class="group">
                <div class="itemDiv" data-id="b">
                    <a href="withdrawals.html">
                        <span class="itemA">取款</span>
                    </a>
                </div>
                <div class="itemDiv_r"></div>
            </div>
            <div class="group">
                <div class="itemDiv" data-id="c">
                    <a href="transfer.html">
                        <span class="itemA">转账</span>
                    </a>
                </div>
                <div class="itemDiv_r"></div>
            </div>
        </div>
        <div class="bisnsContent">
            <div class="text-center displayText">用户余额：{{balance}}</div>
            <br/>
            <br/>
            <!-- 对接 ng-model 按需填写 -->
            <input type="text" class="form-control input-lg text-center input" placeholder="转账人" ng-model="xxx.xxx" id="transfer_target">
            <br/>
            <!-- 对接 ng-model 按需填写 -->
            <input type="text" class="form-control input-lg text-center input" placeholder="转账金额" ng-model="xxx.xxx" id="transfer_amount">
            <br/>
            <!-- 对接 ng-click 按需填写 -->
            <button type="submit" class="align-left btn btn-primary btn-lg" ng-click="xxx()">确认</button>
        </div>
    </div>


</div>

<script>

</script>
</body>
</html>
