<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="meanTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>withdrawals</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <!-- style.css -->
    <link rel="stylesheet" href="../static/style/style.css">

    <!-- SPELLS -->
	<script src="https://cdn.bootcss.com/angular.js/1.5.0-rc.2/angular.min.js"></script><!-- load angular -->
	<script src="https://cdn.bootcss.com/angular.js/1.5.0-rc.2/angular-cookies.min.js"></script>

    <script src="../js/controllers/main.js"></script> <!-- load up our controller -->
    <script src="../js/services/todos.js"></script> <!-- load our todo service -->
    <script src="../js/core.js"></script> <!-- load our main application -->

</head>

<!-- SET THE CONTROLLER -->
<body ng-controller="mainController" ng-init="check_login_status()">
<!-- toolBar-->
<div class="toolBar">
    <div class="toolBar_div_right toolBar_margin">
        <button class="toolBar_button" ng-click="logout()">退出</button>
    </div>
    <div class="toolBar_div_right toolBar_margin">
        <div class="toolBar_div_right toolBar_text">
            <!-- 未完成 绑定{{balance}}-->
            balance
        </div>
        <div class="toolBar_div_right">
            <img src="../static/img/dollar.png" width="34"/>
        </div>
    </div>
    <div class="toolBar_div_right toolBar_margin">
        <div class="toolBar_div_right toolBar_text">
            <!-- 未完成 绑定{{username}}-->
            username
        </div>
        <div class="toolBar_div_right">
            <img src="../static/img/userLogo.png" width="34"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="topBg"></div>
    <div class="myHr"></div>
    <div class="div_wel">
        <!-- 未完成 可以在这里用{{}}弄一个hello username -->
        hello {{username}}
    </div>
    <div class="myHr"></div>
    <div class="bisnsBg">
        <div class="menuContent">
            <div class="group">
                <div class="itemDiv" data-id="a">
                    <a href="deposit.html">
                        <span class="itemA">存款</span>
                    </a>
                </div>
                <div class="itemDiv_r"></div>
            </div>
            <div class="group">
                <div class="itemDiv" data-id="b">
                    <a href="withdrawals.html">
                        <span class="itemA_selected">取款</span>
                    </a>
                </div>
                <div class="itemDiv_r_selected"></div>
            </div>
            <div class="group">
                <div class="itemDiv" data-id="c">
                    <a href="transfer.html">
                        <span class="itemA">转账</span>
                    </a>
                </div>
                <div class="itemDiv_r"></div>
            </div>
        </div>
        <div class="bisnsContent">
            <div class="text-center displayText">用户余额：{{balance}}</div>
            <br/>
            <br/>
            <br/>
            <br/>
            <!-- 对接 ng-model 按需填写 -->
            <input type="text" class="form-control input-lg text-center input" placeholder="取款金额" ng-model="formData.withdrawals_amount" id="withdrawals_amount">
            <br/>
            <br/>
            <!-- 对接 ng-click 按需填写 -->
            <button type="submit" class="button" ng-click="withdraw()">确认</button>
        </div>
    </div>
</div>
</body>
</html>
